.input {
    all: unset;
    box-sizing: border-box;
    cursor: text;
    width: 100%;
    border-radius: 12px;
    padding: 16px 20px;
    background-color: #fff;
    color: #18181B;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;

    &-group {
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: column;
        position: relative;
    }

    &::placeholder {
        color: #7A7A85;
    }

    &:active:not(&:disabled),
    &:focus:not(&:disabled) {
        border: 1px solid #3c08f7;
        box-shadow: 0px 0px 0px 4px rgba(98, 0, 255, 0.2);
    }

    &-label {
        margin-bottom: 8px;
    }

    &:not(&:disabled) {
        border-color: rgba(0, 0, 0, 0.15);
    }

    &:disabled {
        background: rgba(24, 24, 27, 0.05);
        user-select: none;
        cursor: not-allowed;
    }
}